beautifulsoup4==4.14.3
black==26.3.1
brotli==1.2.0
certifi==2026.2.25
cffi==2.0.0
cfgv==3.5.0
Chameleon==4.6.0
charset-normalizer==3.4.6
click==8.3.1
colander==2.0
coverage==7.13.5
cryptography==46.0.5
cssselect2==0.9.0
deform==3.0.1
distlib==0.4.0
exceptiongroup==1.3.1
factory_boy==3.3.3
Faker==40.11.0
filelock==3.25.2
flake8==7.3.0
fonttools==4.62.1
freezegun==1.5.5
google-auth==2.49.1
google-auth-oauthlib==1.2.4
hupper==1.12.1
identify==2.6.18
idna==3.11
inflection==0.5.1
iniconfig==2.3.0
iso8601==2.1.0
isort==8.0.1
Mako==1.3.10
MarkupSafe==3.0.3
mccabe==0.7.0
mypy_extensions==1.1.0
nodeenv==1.10.0
oauthlib==3.3.1
packaging==26.0
PasteDeploy==3.1.0
pathspec==1.0.4
peppercorn==0.6
pillow==12.1.1
plaster==1.1.2
plaster-pastedeploy==1.0.1
platformdirs==4.9.4
pluggy==1.6.0
pre_commit==4.5.1
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycodestyle==2.14.0
pycparser==3.0
pydyf==0.12.1
pyflakes==3.4.0
Pygments==2.19.2
PyJWT==2.12.1
pyphen==0.17.2
pyramid==2.1
pyramid-chameleon==0.3
pyramid-googleauth==1.0.6
pyramid-mako==1.1.0
pyramid_debugtoolbar==4.12.1
pyramid_tm==2.6
pytest==8.3.5
pytest-cov==7.1.0
pytest-factoryboy==2.8.1
python-dateutil==2.9.0.post0
python-discovery==1.2.0
python-dotenv==1.2.2
pytokens==0.4.1
PyYAML==6.0.3
requests==2.32.5
requests-oauthlib==2.0.0
six==1.17.0
soupsieve==2.8.3
SQLAlchemy==2.0.48
tinycss2==1.5.1
tinyhtml5==2.1.0
tomli==2.4.0
transaction==5.1
translationstring==1.4
typing_extensions==4.15.0
urllib3==2.6.3
venusian==3.1.1
virtualenv==21.2.0
waitress==3.0.2
weasyprint==68.1
webencodings==0.5.1
WebOb==1.8.9
WebTest==3.0.7
zope.deprecation==6.0
zope.interface==8.2
zope.sqlalchemy==4.1
zopfli==0.4.1
