bcrypt==4.1.2
beautifulsoup4==4.12.3
black==24.4.0
Brotli==1.1.0
cffi==1.16.0
cfgv==3.4.0
Chameleon==4.5.4
click==8.1.7
colander==2.0
coverage==7.4.4
cssselect2==0.7.0
deform==2.0.15
distlib==0.3.8
factory-boy==3.3.0
Faker==24.9.0
filelock==3.13.4
flake8==7.0.0
fonttools==4.51.0
greenlet==3.0.3
html5lib==1.1
hupper==1.12.1
identify==2.5.35
inflection==0.5.1
iniconfig==2.0.0
iso8601==2.1.0
isort==5.13.2
Mako==1.3.3
MarkupSafe==2.1.5
mccabe==0.7.0
mypy-extensions==1.0.0
nodeenv==1.8.0
packaging==24.0
PasteDeploy==3.1.0
pathspec==0.12.1
peppercorn==0.6
pillow==10.3.0
plaster==1.1.2
plaster-pastedeploy==1.0.1
platformdirs==4.2.0
pluggy==1.4.0
pre-commit==3.7.0
pycodestyle==2.11.1
pycparser==2.22
pydyf==0.9.0
pyflakes==3.2.0
Pygments==2.17.2
pyphen==0.14.0
pyramid==2.0.2
pyramid-chameleon==0.3
pyramid-mako==1.1.0
pyramid-tm==2.5
pyramid_debugtoolbar==4.12.1
pytest==8.1.1
pytest-cov==5.0.0
pytest-factoryboy==2.7.0
pytest-pyramid==1.0.3
python-dateutil==2.9.0.post0
PyYAML==6.0.1
six==1.16.0
soupsieve==2.5
SQLAlchemy==2.0.29
tinycss2==1.2.1
transaction==4.0
translationstring==1.4
typing_extensions==4.11.0
venusian==3.1.0
virtualenv==20.25.1
waitress==3.0.0
weasyprint==61.2
webencodings==0.5.1
WebOb==1.8.7
WebTest==3.0.0
zope.deprecation==5.0
zope.interface==6.3
zope.sqlalchemy==3.1
zopfli==0.2.3
