beautifulsoup4==4.14.3
black==26.5.1
brotli==1.2.0
certifi==2026.5.20
cffi==2.0.0
cfgv==3.5.0
Chameleon==4.6.0
charset-normalizer==3.4.7
click==8.4.1
colander==2.0
coverage==7.14.1
cryptography==48.0.0
cssselect2==0.9.0
deform==3.0.1
distlib==0.4.1
exceptiongroup==1.3.1
factory_boy==3.3.3
Faker==40.21.0
filelock==3.29.1
flake8==7.3.0
fonttools==4.63.0
freezegun==1.5.5
google-auth==2.53.0
google-auth-oauthlib==1.2.4
hupper==1.12.1
identify==2.6.19
idna==3.18
inflection==0.5.1
iniconfig==2.3.0
iso8601==2.1.0
isort==8.0.1
Mako==1.3.12
MarkupSafe==3.0.3
mccabe==0.7.0
mypy_extensions==1.1.0
nodeenv==1.10.0
oauthlib==3.3.1
packaging==26.2
PasteDeploy==3.1.0
pathspec==1.1.1
peppercorn==0.6
pillow==12.2.0
plaster==1.1.2
plaster-pastedeploy==1.0.1
platformdirs==4.10.0
pluggy==1.6.0
pre_commit==4.6.0
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycodestyle==2.14.0
pycparser==3.0
pydyf==0.12.1
pyflakes==3.4.0
Pygments==2.20.0
PyJWT==2.13.0
pyphen==0.17.2
pyramid==2.1
pyramid-chameleon==0.3
pyramid-googleauth==1.0.6
pyramid-mako==1.1.0
pyramid_debugtoolbar==4.12.1
pyramid_tm==2.6
pytest==9.0.3
pytest-cov==7.1.0
pytest-factoryboy==2.8.1
python-dateutil==2.9.0.post0
python-discovery==1.4.0
python-dotenv==1.2.2
pytokens==0.4.1
PyYAML==6.0.3
requests==2.34.2
requests-oauthlib==2.0.0
six==1.17.0
soupsieve==2.8.4
SQLAlchemy==2.0.50
tinycss2==1.5.1
tinyhtml5==2.1.0
tomli==2.4.1
transaction==5.1
translationstring==1.4
typing_extensions==4.15.0
urllib3==2.7.0
venusian==3.1.1
virtualenv==21.4.2
waitress==3.0.2
weasyprint==69.0
webencodings==0.5.1
WebOb==1.8.10
WebTest==3.0.7
zope.deprecation==6.0
zope.interface==8.5
zope.sqlalchemy==4.1
zopfli==0.4.2
