.character-sheet {
    display: grid;
    page-break-after: always;
    grid-template-columns: repeat(6, 1fr);
}

.character-sheet .details {
    grid-column: 1 / span 6;
}

.character-sheet .attributes {
    grid-column: 1 / span 3;
    grid-row: 2 / span 2;
}

.character-sheet .fate {
    grid-column: 4;
}

.character-sheet .resilience {
    grid-column: 5;
}

.character-sheet .experience {
    grid-column: 6;
}

.character-sheet .movement {
    grid-column: 4 / span 3;
}

.character-sheet .skills_left {
    grid-column: 1 / span 2;
}

.character-sheet .skills_right {
    grid-column: 3 / span 2;
}

.character-sheet .skills_advanced {
    grid-column: 5 / span 2;
}

.character-sheet .talents {
    grid-column: 1 / span 3;
    grid-row: 5 / span 2;
}

.character-sheet .ambitions {
    grid-column: 4 / span 3;
}

.character-sheet .party {
    grid-column: 4 / span 3;
}

.character-sheet .armour {
    grid-column: 1 / span 4;
}

.character-sheet .armour_layout {
    grid-column: 5 / span 2;
    grid-row: 1 / span 3;
}

.character-sheet .trappings {
    grid-column: 1 / span 2;
    grid-row: 2 / span 3;
}

.character-sheet .psychology {
    grid-column: 3 / span 2;
}

.character-sheet .corruption {
    grid-column: 3 / span 2;
}

.character-sheet .wealth {
    grid-column: 3;
}

.character-sheet .encumberance {
    grid-column: 4;
}

.character-sheet .wounds {
    grid-column: 5 / span 2;
}

.character-sheet .weapons {
    grid-column: 1 / span 6;
}

.caption {
    text-transform: uppercase;
    text-align: center;
}

.section {
    border: 2px solid black;
}

.col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8,
.col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1 {
    float: left;
    border: 1px solid grey;
    margin: -1px;
}

.row div span {
    padding: 5px;
}

.col, .col-md-12 {
    width: 100%;
}

.col-md-11 {
    width: 91.66666667%;
}

.col-md-10 {
    width: 83.33333333%;
}

.col-md-9 {
    width: 75%;
}

.col-md-8 {
    width: 66.66666667%;
}

.col-md-7 {
    width: 58.33333333%;
}

.col-md-6 {
    width: 50%;
}

.col-md-5 {
    width: 41.66666667%;
}

.col-md-4 {
    width: 33.33333333%;
}

.col-md-3 {
    width: 25%;
}

.col-md-2 {
    width: 16.66666667%;
}

.col-md-1 {
    width: 8.33333333%;
}
