html, body {
    font-family: 'Caslon Antique', arial, sans-serif;
    font-size: 14px;
}

#logo-block {
    text-align: center;
}

#logo-block img{
    height: 100px;
}

.character-sheet {
    display: grid;
    page-break-after: always;
    grid-template-columns: repeat(6, 1fr);
}

#details-block {
    grid-column: 1 / span 6;
    padding: 5px
}

#attributes-block {
    grid-column: 1 / span 3;
    grid-row: 2 / span 2;
}

#fate-block {
    grid-column: 4;
}

#resilience-block {
    grid-column: 5;
}

#experience-block {
    grid-column: 6;
}

#movement-block {
    grid-column: 4 / span 3;
}

#skills_left-block {
    grid-column: 1 / span 2;
    height: 350px;
}

#skills_right-block {
    grid-column: 3 / span 2;
}

#skills_advanced-block {
    grid-column: 5 / span 2;
}

#talents-block {
    grid-column: 1 / span 3;
    grid-row: 5 / span 2;
    height: 300px;
}

#ambitions-block {
    grid-column: 4 / span 3;
}

#party-block {
    grid-column: 4 / span 3;
}

#armour-block {
    grid-column: 1 / span 4;
}

#armour_layout-block {
    grid-column: 5 / span 2;
    grid-row: 1 / span 3;
    height: 100px;
}

#trappings-block {
    grid-column: 1 / span 2;
    grid-row: 2 / span 3;
    height: 300px;
}

#psychology-block {
    grid-column: 3 / span 2;
}

#corruption-block {
    grid-column: 3 / span 2;
}

#wealth-block {
    grid-column: 3;
}

#encumbrance-block {
    grid-column: 4;
}

#wounds-block {
    grid-column: 5 / span 2;
}

#weapons-block {
    grid-column: 1 / span 6;
    height: 300px;
}

#spells-block {
    grid-column: 1 / span 6;
    height: 300px;
}

.col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7,
.col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1 {
    float: left;
}

.row div {
    border: 1px solid grey;
    box-sizing: border-box;
    padding: 2px;
}

.center {
    text-align: center;
}

.row:first-child div {
  border-top: 0;
}

.row div:first-child {
  border-left: 0;
}

.row:last-child div {
  border-bottom: 0;
}

.row div:last-child {
  border-right: 0;
}

.col, .col-md-12 {
    width: 100%;
}

.col-md-11 {
    width: 91.66666666%;
}

.col-md-10 {
    width: 83.33333333%;
}

.col-md-9 {
    width: 75%;
}

.col-md-8 {
    width: 66.66666666%;
}

.col-md-7 {
    width: 58.33333333%;
}

.col-md-6 {
    width: 50%;
}

.col-md-5 {
    width: 41.66666666%;
}

.col-md-4 {
    width: 33.33333333%;
}

.col-md-3 {
    width: 25%;
}

.col-md-2 {
    width: 16.66666666%;
}

.col-md-1 {
    width: 8.33333333%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.caption {
    text-transform: uppercase;
    text-align: center;
}

.block {
    border: 2px solid black;
    padding: 5px;
}
