html, body {
    font-family: 'Caslon Antique', arial, sans-serif;
}

#character-page,
#character-page th,
#character-page td {
    border: 2px solid black;
    padding: 0px;
}

#character-page table {
    height: 100%;
    width: 100%;
}

#character-page table th,
#character-page table td {
    border: 2px solid black;
    padding: 0px;
}

.character-sheet {
    display: grid;
    page-break-after: always;
    grid-template-columns: repeat(6, 1fr);
}

.character-sheet .details {
    grid-column: 1 / span 6;
}

.character-sheet .attributes {
    grid-column: 1 / span 3;
    grid-row: 2 / span 2;
}

.character-sheet .fate {
    grid-column: 4;
}

.character-sheet .resilience {
    grid-column: 5;
}

.character-sheet .experience {
    grid-column: 6;
}

.character-sheet .movement {
    grid-column: 4 / span 3;
}

.character-sheet .skills_left {
    grid-column: 1 / span 2;
}

.character-sheet .skills_right {
    grid-column: 3 / span 2;
}

.character-sheet .skills_advanced {
    grid-column: 5 / span 2;
}

.character-sheet .talents {
    grid-column: 1 / span 3;
    grid-row: 5 / span 2;
}

.character-sheet .ambitions {
    grid-column: 4 / span 3;
}

.character-sheet .party {
    grid-column: 4 / span 3;
}

.character-sheet .armour {
    grid-column: 1 / span 4;
}

.character-sheet .armour_layout {
    grid-column: 5 / span 2;
    grid-row: 7 / span 3;
}

.character-sheet .trappings {
    grid-column: 1 / span 2;
    grid-row: 8 / span 3;
}

.character-sheet .psychology {
    grid-column: 3 / span 2;
}

.character-sheet .corruption {
    grid-column: 3 / span 2;
}

.character-sheet .wealth {
    grid-column: 3;
}

.character-sheet .encumberance {
    grid-column: 4;
}

.character-sheet .wounds {
    grid-column: 5 / span 2;
}

.character-sheet .weapons {
    grid-column: 1 / span 6;
}

.character-sheet .section-header {
    text-align: center;
    text-transform: uppercase;
}

.character-sheet table {
    border: 2px solid black;
    width: 100%;
    margin: 0px;
    border-collapse: collapse;
}

.character-sheet table caption {
    text-transform: uppercase;
    border: 2px solid black;
}

#create-form {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

#character-summary {
    grid-column: 4 / span 3;
}

#input-form {
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
}

#form-data {
    grid-column: 4 / span 3;
}

#footer {
    text-align: right;
}

.flash-message {
    list-style-type: none;
}
